<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>DRY Cypress examples</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
  </head>

  <body>
    <h1 data-cy="main-heading">DRY Cypress examples</h1>

    <div class="row">
      <div class="three columns">

        <form method="POST">

          <div class="row">
            <label for="currency">Select a currency</label>

            <select class="u-two-thirds" id="currency">
              <option />
              <option value="Euro">Euro</option>
              <option value="JPY">Japanese Yen</option>
              <option value="GBP">Pound sterling</option>
              <option value="USD">United States Dollar</option>
            </select>
          </div>

          <div class="row">
            <label for="reason">Reason for payment</label>

            <input type="text" id="reason" class="u-full-width" data-cy="reason" />
          </div>

          <button class="button-primary" type="submit" data-cy="continue-button">Continue</button>

        </form>

      </div>
    </div>

    <div class="row">
      <a href="/feedback" rel="noopener noreferrer" data-cy="feedback-link">Feedback</a>
    </div>
  </body>

</html>
